<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    <footer>
        <section class="footer">
            <article class="footercito footercito1">
            <p class="foot">Todos los derechos reservados</p>
            <p class="foot">Solo nos hacemos cargo de hacer comida demasiada deliciosa para tu paladar</p>
            <p class="foot">Página creada por:</p>
            <h4 class="foot foot-creators">Valentín Vallejo, Bruno Santos y Mateo Fascetto</h4>
        </article>
        
        <article class="footercito footercito2">
            <h2>Contact Info</h2>
            <div class="contact-item">
                <a class="contactoo" href="mailto:info@mysite.com">
                    <b class="contactito">Email:</b> antonio@gmail.com
                </a>
            </div>
            <div class="contact-item">
                <a class="contactoo" href="tel:123-456-7890">
                    <b class="contactito">Phone:</b> 123-456-7890
                </a>
                </div>
            </article>
    
            <article class="footercito footercito3">
                <div>
                    <h2 class="red"> Seguinos en nuestras redes sociales</h4>
                    <p class="fc">instagram:<a class="rd" href="https://www.instagram.com/lasrecetasdeanto/"> lasrecetasdeantonio</a></p>
                    <p class="fc">Facebook: <a class="rd" href="#">lasrecetasdeantonio55</a></p>
                </div>
    
    
            </article>
    </footer>
</body>	
</html>